table{
    width: 100%;
    height: 100%;
}

tr td{
    border: 2px black solid;
    border-radius: 10px;
    background: rgb(228, 228, 228);
}

tr th{
    border: 1px red solid;
    border-radius: 10px;
    background: red;
    color: white;
}

#contenedorPrincipal{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#seccionDatos{
    margin-top: 1%;
    width: 80%;
}

span{
    margin-top: 3%;
}

input{
    width: 30%;
    border-radius: 10px;
}

